/* Gaya untuk bingkai */
.frame {
    width: 400px;
    height: 400px;
    border: 15px solid #8B4513;  /* Warna bingkai */
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

/* Gaya untuk imej dalam bingkai */
#frame-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan imej menyesuaikan bingkai */
}

/* Gaya untuk butang muat turun */
#downloadBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#downloadBtn:hover {
    background-color: #45a049;
}
